
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-12 p-2 ps-4" style="background-image: url(/Images/Nike/HomePage/nike-membership-bg.png); background-repeat: no-repeat; background-attachment: local; background-size: cover">
        <p class="h2 display-1 text-uppercase text-light" style="font-family: futura !important;">welcome back<br />our admin</p>
    </div>
</div>

